/* Acá van tus reglas de estilo */
body{
	

    background: url(imagen2.jpg) no-repeat center top;
   /* background-size: cover;*/
    text-align: center;
}



.secLogin{
 width: 320px;
 height: 420px;
 background-color: black;
 color: #F39C12;
 margin:  50px 500px;
 border-radius: 20px;
 padding: 30px 30px;
}
 

.secLogin .imagen1{
border-radius: 50%;
display: block;
margin: auto;

}
/*
.secLogin h1{
	text-align: center;
	font-size: 30px;
}


.secLongin input{
	width: 100px;
	margin-bottom: 20px;
}*/
.secCodyDec{
	
	padding: 30px 30px;
	display: none;
	width: 100%;
	height: 100%;

	/*text-align: center;*/

	/*flex-direction: column;*/

}/*
.secCodyDec h1{
    text-align: center;
}
.secCodyDec .label2{
    color: white;
}
.secCodyDec .llave{
    color: white;
}
.menCodyDec{
	width: 50%;
	height: 50px;

}
#number{
   width: 30px;
   height: 20px;
}
.btnCodificar{
	width: 120px;
    height: 24px;
}
.btnDecodificar{
	width: 120px;
    height: 24px;
}*/
.secResultado{

	display:none;
}
.menCodyDec{
	border: 1px solid black;
	vertical-align:top;
	width:30%;
}
.secCodyDec .lblabel{
	font-size: 20px;
}
#number{
    width:30px;
}


