/* AcÃƒÂ¡ van tus reglas de estilo */

body{
	background: url(imagen2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;/*fijar la imagen*/
	background-size: cover;
}
header{
width: 100%;
height: 40px;
margin: auto;
box-sizing: border-box;
background: black;
color:white;
position: fixed;
font-size: 20px;
top:0px;
left: 0px;
}
/* .secLogin{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: #0e0e0d;
    margin-top: 5em;
}
.imagen1{
	width: 220px;
	border-radius: 7em;
} */
.secLogin{
 width: 28%;
 height: 420px;
 margin: 120px auto;
 background-color: black;
 border-radius: 20px;
 padding: 20px 20px;
 text-align: center;
}
.secLogin .bienvenida{
	font-size:40px;
	color:#5cb568;
	margin: 20px auto;

}
.secLogin .imagen1{
border-radius: 50%;
display: block;
margin: auto;
}

#password{
	margin:12px;
    border-radius:3px;
    width: 200px;
    height: 25px;
}
.mnsError{
	font-size:15px;
	color:red;
	height: 100px;
}

#btnIngresar{
	width: 200px;
	background-color:#5cb568;
	color: white;
	height: 30px;
	border-radius:3px; 
	cursor: pointer;
}
.secCodyDecResult{
	padding: 30px 30px;
	width: 50%;
	height: 300px;
	margin: 150px auto;
	background-color: #0e0e0d7d;
}
.titulo{
	margin-left:130px;
	color:#f2f5f7;
	padding: 20px;
}

.menCodyDec{
	border: 1px solid black;
	vertical-align:top;
	width:77%;
}

#number{
    width:50px;
    margin:20px 30px;  
}
.btnCodificar{
	margin-left:440px;
	margin-right:30px;
	cursor: pointer;
	background:#85e892;
	border-radius:10px;
	width: 10%;
	height:25px;
	color:#1c445d;
	font-weight:700;
}
.btnDecodificar{
	cursor: pointer;
	background:#85e892;
	border-radius:10px;
	width: 10%;
	height:25px;
	color:#1c445d;
	font-weight:700;
}

.hide{
	display:none;
}
.textAreaResult{
	border: 1px solid black;
	width:77%;
	margin-left:100px;
}
#lblRemember{
	font-size:20px;
}
.btnVolverFinalizar{
	margin-left:330px;
	width:80px;
	cursor: pointer;
	background:#85e892;
	border-radius:10px;
	width: 85px;
	height:25px;
	color:#1c445d;
	font-weight:700;
}
label{
font-size: 20px;
font-family:sans-serif;
font-weight:600;
color:#8bb3cc;
}
footer{
position: fixed;
bottom: 0px;
color: white;
}

@media screen and (max-width: 800px){
	.secLogin, .secCodyDecResult{
		width: 40%;
		height: 350px;
	}
	.imagen1, #btnIngresar, #password, .btnCodificar, .btnDecodificar, label {
		width:50%;
		/* height: 20px; */
	}	
}
