/* Acá van tus reglas de estilo */
body{
	

    background: url(imagen2.jpg) no-repeat center top;
   /* background-size: cover;*/
    text-align: center;
}



.secLogin{
 width: 320px;
 height: 420px;
 background-color: black;
 color: #F39C12;
 margin:  50px 500px;
 border-radius: 20px;
 padding: 30px 30px;
}
 

.secLogin .imagen1{
border-radius: 50%;
display: block;
margin: auto;

}

.secCodyDec{
	
	padding: 30px 30px;
	/*display: none;*/
	width: 100%;
	height: 100%;
}

.secResultado{

    width:500px;
	height:120px;
    background: #D1F2EB;
	padding:20px 30px;
	margin:100px auto;
	text-align: center;

}
.menCodyDec{
	border: 1px solid black;
	vertical-align:top;
	width:30%;
}
.secCodyDec .lblabel{
	font-size: 20px;
}
#number{
    width:30px;
}
.secBloqueo{
	
	/*display: none;*/
	color:white;
	
    margin:300px 500px;
}
.hide{
	display:none;
}
#btnIngresar{
	/*margin: 10px auto;*/
	width: 200px;
	background-color:#F39C12;
	color: white;
	height: 30px;
	border-radius:3px; 
}
#password{
	margin: 20px auto;
    border-radius:3px;
    width: 200px;
    height: 25px;
}
